<div class="contendor">
  <img src="../../assets/logo.svg" alt="Personajes" style="width: 500px" />
  <input type="text" placeholder="Busca tu personaje" />
  <div>
    <img
      src="../../assets/personajes.jpg"
      alt="Personajes"
      (click)="onRuta('personajes')"
    />
    <img
      src="../../assets/locaciones.jpg"
      alt="Locaciones"
      (click)="onRuta('locaciones')"
    />
    <img
      src="../../assets/episodio.jpg"
      alt="Episodios"
      (click)="onRuta('episodios')"
    />
  </div>
</div>
